/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: red;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  /*width: 90%;
  max-width: 768px;
  margin: 0 auto;*/
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* orange borders*/
.cd-o-top{
  box-shadow: 0px 5px 10px #000;
  transform: rotate(3deg);
  top: -80px;
  background-color: #DF4514;
  opacity: 0.8;
  position: fixed;
  height: 20vh;
  width: 110vw;
  z-index: 5;
}

.cd-o-bottom{
  box-shadow: 0px -5px 10px #000;
  transform: rotate(3deg);
  bottom: -80px;
  right: 0;
  background-color: #DF4514;
  opacity: 0.8;
  position: fixed;
  height: 20vh;
  width: 110vw;
  z-index: 5;
}

.cd-o-left{
  box-shadow: 5px 0px 10px #000;
  transform: rotate(5deg);
  bottom: 0px;
  left: -80px;
  background-color: #DF4514;
  opacity: 0.8;
  position: fixed;
  height: 110vh;
  width: 20vh;
  z-index: 5;
}

.cd-o-right{
  box-shadow: -5px 0px 10px #000;
  transform: rotate(5deg);
  top: 0px;
  right: -80px;
  background-color: #DF4514;
  opacity: 0.8;
  position: fixed;
  height: 110vh;
  width: 20vh;
  z-index: 5;
}


/* content css */

.cd-fixed-bg {
  display: block;
  height: 100vh;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.jumptobar{
  z-index: 2;
  height: 170px;
  width: 20px;
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  transition: opacity 0.2s;
}

.jumptobar li{
  padding: 3px;
  text-align: center;
  background-color: green;
  margin-bottom: 2px;
  display: block;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.jumptobar .active{
  background-color: red;
}

.jumptobar .notactive{
  background-color: green;
}

.cd-content{
	background-color: transparent;
	width: 80%;
	height: 70%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
}

.cd-content-title{
	height: 10%;
	text-align: center;
	background-color: white;
	display: block;
}

.cd-rss-field-holder{
	height: 250px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	position: relative;
}

.cd-rss-field{
	width: 700px;
	height: 250px;
	color: #DF4514;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.cd-rss-field img{
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
}

.cd-rss-field span{
	font-size: 20px;
	display: inline-block;
}

.cd-rss-field-item{
	display: block;
	width: 700px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

.cd-rss-field-item-date{
	display: inline-block;
	width: 120px;
	height: 30px;
	vertical-align: top;
	text-align: center;
}

.cd-rss-field-item-feed{
	display: inline-block;
	width: 570px;
	height: 30px;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: Roboto;
}